:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #23252c;
}

h1,
h2,
h3,
p {
    color: white;
}

.about > h3 {
    color: #f3bf99;
    margin: 0;
}

#root {
    display: flex;
}

.container {
    margin: 45px 100px;
    background-color: #1a1b21;
    overflow: auto;
    border: none;
    border-radius: 6px;
}

.container,
.avatar {
    width: 100%;
}

.about,
.info,
.footer {
    padding: 25px 35px;
}

.about {
    text-align: center;
}

.email {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: #161619;
}

@media (min-width: 950px) {
    .container {
        width: 75%;
        margin-left: 450px;
        margin-right: 450px;
    }
}
